*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body{

    min-height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "aside header"
    "aside main"
    "aside footer"
    ;
    grid-template-rows: 150px 1fr 50px;
    grid-template-columns: minmax(50px,1fr) minmax(400px,10fr);
}

header,main,footer,aside{
    background-color: rgb(162, 129, 193);
    padding: 10px;
}
aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger{
    background-color: bisque;
}
.social{
    background-color: aquamarine;
}
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
header > img{
    flex: 1 1 150px;
    max-width: 200px;
    min-width: 100px;
}
.menu{
    background-color: rgb(162, 162, 222);
    flex: 1 1 600px;
    max-width: 50%;
    min-width: 200px;

    display: flex;
    justify-content: flex-end;
    align-items: center;  

}

.menu li{
    flex: 1 1 20%;
    text-align: center;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    
}

.slider{
    display: flex;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}
main > h1,h4{
    flex: 1 1 10%;
    max-width: 50%;

}
main > p{
    flex: 1 1 80%;
    max-width: 50%;
}
main > img{
    flex: 1 1 100%;
    max-width: 50%;
}
footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:480px)  {
    header,main,footer,aside{
        background-color: rgb(196, 225, 115);
        
    }
    main > h1,h4,p{
        flex: 1 1 100px;
        max-height: 10%;
        max-width: 100%;
    }
    main > img{
        flex: 1 1 300px;
        max-height: 50%;
        max-width: 100%;
    }
}

@media (min-width:480px) and (max-width:768px) {
    header,main,footer,aside{
        background-color: rgb(129, 160, 193);
    }
    main > h1,h4,p{
        flex: 1 1 100px;
        max-height: 20%;
        max-width: 100%;
    }
    main > img{
        flex: 1 1 300px;
        max-height: 40%;
        max-width: 100%;
    }
}
